*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: #F7F7F7;
     scroll-behavior: smooth;
      overflow-x: hidden;
}

.cursur{
    height: 200px;
    width: 200px;
    background-color: #C9B8FF;
    border-radius: 50%;
    position: fixed;
    transform: translate(-50%, -50%) scale(0);
}




@font-face{
    font-family:"Futura";
    src:url("./assets/fonts/Futura-Bold.ttf") format("truetype");
}


.nav{
    width: 100vw;
    position: fixed;
    z-index: 99;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start ;

}

.nav-part1{
    width: 60vw;
    height: 83px;
    display: flex;
    flex-direction: column;
    height: auto;
    overflow: hidden;
     position:relative;
}

.nav-part1 svg {
    display: block;
}

.nav-part1 svg:nth-child(2){
    position:absolute;
    top:83px;          /* pehle logo ke bilkul niche */
    left:22px;         /* center karne ke liye adjust */
}

.nav-part2{
    width: 40vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;

}

.links{
     width:70%;
     display: flex;
     justify-content: space-evenly;
}

.links a{
    
    text-transform: uppercase;

    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 14px;
    margin: 0 30px;
}

.icons {
    width: 15%;
   display: flex;
   justify-content: space-around;

}
.icons i{
     font-size: 18px;
    margin: 0 20px;
    font-weight: 100;
   
}




.page1{
    position: relative;
    min-height: 100vh;
    width: 100%;
     padding: 0 0.2vw;
    padding-top: 11vw;
    

    /* background-color: #fff4d6; */
}



.page1 h1{
   font-family:"Futura",sans-serif;
    font-size:19vw;
    text-transform:uppercase;
   line-height: 0.75;
    letter-spacing:-0.08em;
    font-weight:700;
    color:#111;
}

.video-box{
      width: 98%;
    margin: 0.5vw auto;
    position: relative;
    
}

.video-box video{
    width:100%;
    height:100%;
    display:block;
    object-fit:cover;
}

 .play{
    position: absolute;
    background-color:  #121212;
    color: white;
    border-radius: 50%;
     font-family:"Futura",sans-serif;
     font-size: 1.2vw;
     padding: 2.8vw 2vw;
     opacity: 0;
     transform: scale(0);
     transform: translate(-50%, -50%);
}

.page2{
    height: 120vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5vw 0.5vw;   
    
}

.page2 .elem{
   height: 100%;
    width: 32%;
    overflow: hidden;
    position: relative;
}

.page2 .elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    scale: 1.2;
}
.contentbox{
    height: 50px;

    width: 50%;
    position: absolute;
    background-color: #FBEFEF;
    border-radius: 50px;
    top: 50%;
    left: 50%;
      transform: translateX(-50%);
     overflow: hidden;
      transition: all 0.35s ease;
}

.contentbox:hover {
    height: 250px;
}
.top{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom{
    height: 0;
    overflow: hidden;
    transition: height .35s ease;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FFE2E2;
}

.contentbox:hover .bottom{
    height: 200px;
}

.page3_text {
   font-family:"Futura",sans-serif;
    font-size:2.5vw;
    text-transform:uppercase;
   line-height: 0.75;
    letter-spacing:-0.08em;
    font-weight:700;
    color:#111;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.page3{
    margin-top: 10vw;
    min-height: 110vh;
    width: 100vw;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

}
.page3_text .text1{
    font-family:"Futura",sans-serif;
    font-size:2.5vw;
    text-transform:uppercase;
    line-height:0.75;
    letter-spacing:-0.08em;
    font-weight:700;
    color:#111;
}


.child{
    height: 54vh;
    width: 36vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.child img{
    height: 100%;
    overflow: hidden;
}

















@media (max-width:500px) {

    .page1{

    min-height: 70vh;
    width: 100%;
     padding: 0 3vw;
    padding-top: 50vw;
}

.page1 h1{
   
    font-size:16vw;
   line-height: 0.75;
    letter-spacing:-3px;
    font-weight: 750;
}

.video-box{
  
    height: 25vh;
      width: 97%;
      margin: 0 0;
      margin-top: 3vw;
    
}

.play{
    position: absolute;
   
    border-radius: 50%;
    top: 50%;
    left: 50%;
     font-size: 4.5vw;
     padding: 11vw 10vw;
    scale: 1;
    opacity: 1;
}
.page2{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding: 5vw 0.5vw;   
    position: relative;
      padding: 5vw 3vw;
    
}

.page2 .elem{
    width: 100%;
    height: 80vh;
    /* background-color: red; */
    overflow: hidden;
    margin-bottom: 3vw;
    
}
}